<!DOCTYPE html>
<html>
  <head>
    <title>Rails + Vite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="d-flex flex-column vh-100">
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
      <main class="container px-4 py-4 mx-auto flex-grow-1 d-flex flex-column">
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
