<!DOCTYPE html>
<html>
  <head>
    <title>Rails + VueJS + Vite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <main class="container mx-auto py-4 px-4 d-flex flex-column">
      <%= yield %>
    </main>
  </body>
</html>
