<!DOCTYPE html>
<html>
  <head>
    <title>Rails + Vite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="is-flex is-flex-direction-column" style="height: 100vh;">
      <%= render "shared/navbar" %>
      <main class="is-flex-grow-1 p-5">
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
