<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold is-size-5" href="https://bulma.io">
      <%= Rails.application.class.module_parent_name %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <%= link_to "Home", root_path, class: "navbar-item #{current_page?(root_path) ? 'is-active': nil }" %>
      <a class="navbar-item">
        Documentation
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <% if user_signed_in? %>
          <div class="buttons">
            <%= link_to 'Edit profile', edit_user_registration_path, class: "button is-primary #{current_page?(edit_user_registration_path) ? nil : 'is-light' }" %>
            <%= button_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "button is-danger is-light" %>
          </div>
        <% else %>
          <div class="buttons">
            <%= link_to "Sign up", new_user_registration_path, class: "button is-primary #{current_page?(new_user_registration_path) ? nil : 'is-light' }" %>
            <%= link_to "Login", new_user_session_path, class: "button is-link #{current_page?(new_user_session_path) ? nil : 'is-light' }" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
