<!DOCTYPE html>
<html>
  <head>
    <title>Rails + ReactJS + Vite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_react_refresh_tag %>
  </head>

  <body>
    <div class="is-flex is-flex-direction-column" style="height: 100vh;">
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
      <main class="p-5 is-flex-grow-1">
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
