<!DOCTYPE html>
<html>
  <head>
    <title>Rails7 + Vite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="flex flex-col h-screen">
      <%= render "shared/navbar" %>
      <main class="container flex-1 mx-auto my-12 px-5 flex flex-col">
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
